{% block changePasswordModal %}

    <div class="modal fade" tabindex="-1" role="dialog" id="changePasswordModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header border-bottom-0 ps-0 py-4">
                    <h4 class="fw-bold text-center mb-0 position-absolute w-100">Change password</h4>
                </div>
                <div class="modal-body pt-2">
                    <form action="/api/user/change-password" method="post" id="changePasswordForm">
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control rounded-3" id="current-password" name="current-password" placeholder="Current Password">
                            <label for="current-password">Current Password</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control rounded-3" id="new-password" name="new-password" placeholder="New Password">
                            <label for="new-password">New Password</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control rounded-3" id="new-password-re[eat" name="new-password-repeat" placeholder="Repeat New Password">
                            <label for="new-password">Repeat New Password</label>
                        </div>
                        <div class="w-100 text-center">
                            <button class="w-100 mb-2 btn rounded-3 btn-primary" type="submit">Change</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
