{% block filedrop %}
    <div class="m-3 p-5 bg-dark bg-opacity-10 rounded shadow border position-relative text-center w-50">
        <p class="m-0">Choose files</p>
        <p class="m-0">or drag and drop them here</p>
        <input type="file" id="file-input" multiple class="position-absolute top-0 start-0 w-100 h-100 opacity-0" style="cursor: pointer">
    </div>


{% endblock %}

