{% extends "views/skeleton.twig" %}
{% use "components/navbar.twig" with navbar as Navbar %}
{% use "components/footer.twig" with footer as Footer %}
{% use "components/fileupload.twig" with filedrop as Filedrop %}

{% block content %}

    {% block navbar %}
        {{ block('Navbar') }}
    {% endblock %}

    <div class="container min-vh-100 d-flex justify-content-center align-items-center">
            {% block filedrop %}
                {{ block('Filedrop') }}
            {% endblock %}


    </div>

    {% block footer %}
        {{ block('Footer') }}
    {% endblock %}

{% endblock %}