{% extends "skeleton.twig" %}

{% block content %}
    <div class="container-fluid d-flex justify-content-center align-items-center min-vh-100 bg-secondary bg-opacity-25">

        <div class="container-fluid d-flex flex-column align-items-center">
            <div class="container rounded bg-light p-5 w-25 shadow">
                <h2 class="w-100 text-center pb-4">Sign in</h2>
                <form action="/api/auth/login" method="post" id="loginForm">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-3" id="username" name="username" placeholder="Username" required>
                        <label for="username">Username</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control rounded-3" id="password" name="password" placeholder="Password" required>
                        <label for="password">Password</label>
                    </div>
                    <div class="w-100 text-center">
                        <button class="w-100 mb-2 btn rounded-3 btn-primary" type="submit">Sign in</button>
                        <small class="text-muted ">
                            <input type="checkbox" value="1" id="siRemember" name="siRemember" class="form-check-input align-middle mt-0">
                            <label class="form-check-label align-middle" for="siRemember">Remember me</label>
                        </small><br>
                        <small class="text-muted">Not a member yet? <a href="/signup" class="link text-decoration-none" style="cursor: pointer;">Sign up</a>.</small>
                    </div>
                </form>

            </div>
            {% for message in flash.get('error') %}
                <div class="alert alert-danger w-25 mt-3 text-center" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
