{% extends "skeleton.twig" %}

{# USES #}
{% use "components/navbar.twig" with navbar as Navbar %}
{% use "components/modals.twig" with modals as Modals %}


{% block content %}
    
    {# NAVBAR #}
    {% block navbar %}
        {{ block("Navbar") }}
    {% endblock %}

    {# MAIN #}
    <div class="container mt-5">
    </div>

    {# MODALS #}
    {% block modals %}
        {{ block("Modals") }}
    {% endblock %}

    {# FOOTER #}

{% endblock %}

{# SCRIPTS #}
{% block scripts %}
    {{ assets({ files: [ 'assets/js/handleAuthForms.js' ] }) }}
{% endblock scripts %}